
@import 'variables';


//Font rendering
@mixin font{
	font: $p-alt;
	text-rendering: optimizeSpeed;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}

//Size
@mixin size ($h, $w) {
	height: $h;
	width: $w;
	box-sizing: border-box;
}

@mixin padding($t:20px, $s:20px){
	padding: $t $s;
}

@mixin flex($a, $j, $d) {
	display: flex;
	align-items: $a;
	justify-content: $j;
	flex-direction: $d;
}

@mixin absolute($t:0, $l:0, $r:''){
	position:absolute;
	top:$t;
	left:$l;
	right:$r;
}

@mixin grid($min, $max, $gap){
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($min, $max));
	grid-gap: $gap;
}

//button style
@mixin primary {
	margin:0;
	border-radius: 4px;
	padding: 11px 15px;
	color: $white;
	font: $a;
	font-weight: 500;
	border: none;
	text-decoration: none;
	background-color: $blue-1;
	outline: none;
	&:hover {
		color:$white;
		cursor: pointer;
		background-color: $dark-blue-3;
	}

	&:active {
		color:$white;
		background-color: $dark-blue-2;
	}

	span{
		height: 10px;
		display: block;
		font-weight: 500;
		line-height: 9pt;
	}
}

@mixin secondary {
	border: 1px solid $border-color-2;
	border-radius: 4px;
	padding: 11px 15px;
	color: $font-color-1;
	font: $a;
	text-decoration: none;
	background-color: $white;
	margin:0;
	outline: none;

	&:hover {
		color: $blue-1;
		cursor: pointer;
	}

	&:active {
		color: $blue-3;
	}

	span{
		height: 10px;
		display: block;
		font-weight: 500;
		line-height: 9pt;
	}
}

@mixin secondary-alt {
	@include secondary;
	@include transition(box-shadow);
		border: none;
		&:hover{ @include shadow();}
	span{
		height: 10px;
		display: block;
		font-weight: 500;
		line-height: 9pt;
	}
}

@mixin link() {
	color: $blue-1;
	font: $p-alt;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

//tooltip
@mixin tooltip($c,$w) {
	position: relative;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: $font-color-1;
	font: $p;

	&:hover {
		cursor: context-menu;
	}

	&:hover::before {
		display: block;
	}

	&:hover::after {
		display: block;
	}

	&::after {
		content: $c;
		top: 25px;
		width: $w;
		display: none;
		position: absolute;
		@include secondary;
		z-index: 2;
		padding: 15px 20px;
		@include shadow;
	}

	&::before {
		content: '';
		top: 22.5px;
		left: 20px;
		@include size(8px, 8px);
		display: none;
		box-shadow: -1.2px -1.2px 0 $border-color-1;
		position: absolute;
		background-color: $white;
		border-radius: 1px 0 0 0;
		z-index: 3;
		transform: rotate(45deg);
	}
}

//add for dark overwrite
@mixin tooltip-dark {
		&::before {
    box-shadow:none;
		@include size(10px, 10px);
    background-color: $dark-grey-1;
  	}

	  &::after {
	  background-color: $dark-grey-1;
	  color:white;
	  border:none;
	  }
}

//shadow
@mixin shadow {
	box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02),
	0 3px 3px 0 rgba(0, 0, 0, 0.02),
	0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

@mixin transition ($a) {
	transition: $a 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

//hover
@mixin hover($c:inherit, $b:none){
	&:hover{
		cursor: pointer;
		color: $c;
		background-color: $b;
	}
}

//arrow
@mixin arrow ($h:6px, $w:1.5px){
	position: relative;

	&::before, &::after {
	@include size($h, $w);
	@include transition (transform);
	content: '';
	display: block;
	position: absolute;
	opacity: 0;
	right: 20px;
	border-radius: 3px;
	z-index: 3;
	transform: translateX(-10px);
	background-color: $blue-1;
	}
	&::before{
		transform: rotate(45deg);
	}
	&::after{
		transform: rotate(-45deg);
	}
	&:hover::before {
		opacity: 1;
	}
	&:hover::after {
		opacity: 1;
	}
}

//popup header
@mixin popup-header-old{
	@include size(50px, 100%);
	@include flex(center, space-between ,row);
	background-color: $background-color-1-old;
	padding: 11px 20px;
	font-size: 14px;
	font-weight: 600;
	color: $font-color-4-old;
	border-radius: 4px 4px 0 0;
	//close button
	span {
		@include size(16px, 16px);
		position: relative;
		&:hover{
			cursor: pointer;
		}
		&::after,
		&::before {
			content: '';
			@include absolute(0,9px,'');
			@include size(16px,2px);
			border-radius: 2px;
			background-color: $font-color-4-old;
			@include transition(background-color);
		}

		&::before {
			transform: rotate(-45deg);
		}

		&::after {
			transform: rotate(45deg);
		}
		&:hover::before, &:hover::after{
			background-color: white;
		}
	}
}

@mixin secondary-old{
	border: 1px solid $border-color-1-old;
	border-radius: 4px;
	padding: 11px 15px;
	color: $font-color-2-old;
	font: $a-old;
	text-decoration: none;
	background-color: $white;

	&:hover {
		color: $font-color-1-old;
		cursor: pointer;
	}
}


@mixin primary-old{
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 11px 15px;
	color: $white;
	font: $a-old;
	text-decoration: none;
	background-color: $blue-2-old;
	&:hover {
		background-color: $blue-3-old;
		cursor: pointer;
	}
}


//popup
@mixin inputs{
	input:not([type=checkbox]):not([type=radio]):not([type=file]){
		@include size(32px, 100%);
    border-radius: 4px;
    border: 1px solid $border-color-1;
    padding: 11px 10px;
    color:$font-color-1;
    font:$p-alt;
    position: relative;
  	&:not(:last-child){
      margin-bottom: 20px;
    }
    &:focus{
       outline: none;
       border-color:$blue-1;
    }
		&::-webkit-input-placeholder {
			padding-top: 4px;
			vertical-align: middle;
			color:$light-grey-2;
		}

  }

  label{
    font:$h4;
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: $font-color-2;
    margin-bottom: 10px;
  }
}
