
// Color variables

//Fonts
$background-color-1-old:   #343536; //header
$font-color-1-old:         #3F4142; //main text
$font-color-2-old:         #6F787E; //secondary
$font-color-3-old:         #7C8D9F; //icons
$font-color-4-old:         #9AA5B5; //h4 and disabled
$border-color-1-old:       #C4C9CD;
$border-color-2-old:       #DBDFE1;
$border-color-3-old:       #F3F4F5;
$background-color-3-old:   #F3F4F5;
$background-color-4-old:   #F9F9FA;

// Monochrome
$black-1-old:              #000000;
$dark-1-old:               #2D2E2F;
$dark-2-old:               #343536; //header background
$dark-3-old:               #3F4142; //primary text
$dark-4-old:               #6F787E; //secondary text
$dark-5-old:               #89949B; //header link
$dark-6-old:               #9AA8B1;
$dark-7-old:               #C4C9CD;
$dark-8-old:               #DBDFE1; //old border color 3
$dark-9-old:               #F3F4F5; //old background 3
$semi-white-old:           #F9F9FA;
$white-old:                #FFFFFF;

// Blues
$blue-1-old:               #1790bb;
$blue-2-old:               #26bbf0;
$blue-3-old:               #7ad5f9;
$blue-4-old:               #a8e4f9;
$blue-5-old:               #d4f1fc;
$blue-6-old:               #f2fafe;
$cobalt-1-old:             #5f96e3;
$cobalt-2-old:             #e8f0fa;

// Reds
$red-1-old:                #AD3951;
$red-2-old:                #C64153;
$red-3-old:                #DF4A53;
$red-4-old:                #F16363;
$red-5-old:                #F97F7D;

// Yellows
$yellow-1-old:             #FFBC0B;
$yellow-2-old:             #FFCF26;
$yellow-3-old:             #FFDF7A;
$yellow-4-old:             #FFECB0;
$yellow-5-old:             #FFF5D8;

// Greens
$green-1-old:              #36D068;
$green-2-old:              #5FDE87;
$green-3-old:              #95E9B0;
$green-4-old:              #C0F1CF;
$green-5-old:              #DFF8E7;


//typography
$h1-old:       200 24px/18px 'nutanix_soft', san-serif;
$h2-old:       400 16px/10px 'nutanix_soft', san-serif;
$h3-old:       500 12px/8px 'nutanix_soft', san-serif;
$h3-alt-old:   400 12px/8px 'nutanix_soft', san-serif;
$h4-old:       400 10px/7px  'nutanix_soft', san-serif;
$p-old:        300 12px/18px 'nutanix_soft', san-serif;
$p-alt-old:    300 12px/8px 'nutanix_soft', san-serif;
$a-old:        400 12px/8px 'nutanix_soft', san-serif;

//sizes
$extra-small:  7px;
$small:        10px;
$medium:       20px;
$large:        30px;
