
// Color variables

//Fonts
$background-color-1:       #22272E; //header
$font-color-1:             #22272E; //main text
$background-color-2:       #37414B; //global header search
$background-color-4:       #4D5969; //global header hover
$font-color-2:             #627386; //secondary
$font-color-3:             #7C8D9F; //icons
$font-color-4:             #9AA5B5; //h4 and disabled
$border-color-1:           #B8BFCA;
$border-color-2:           #D5DAE0;
$border-color-3:           #F2F4F6;
$background-color-3:       #F2F4F6;

// Monochrome
$black:             #000000;
$semi-black:        #1B2025;
$dark-grey-1:       #22272E;
$dark-grey-2:       #37414B;
$dark-grey-3:       #4D5969;
$grey-1:            #627386;
$grey-2:            #7C8D9F;
$grey-3:            #9AA5B5;
$light-grey-1:      #B8BFCA;
$light-grey-2:      #D5DAE0;
$light-grey-3:      #F2F4F6;
$semi-white:        #F8F9FA;
$white:             #FFFFFF;

// b
$blue-1:              #22A5F7;
$dark-blue-1:         spin(mix($blue-1, #000, 70%),12);
$dark-blue-2:         spin(mix($blue-1, #000, 80%),8);
$dark-blue-3:         spin(mix($blue-1, #000, 90%),4);

$blue-2:              mix($blue-1, #fff, 75%);
$blue-3:              mix($blue-1, #fff, 50%);
$light-blue-1:        mix($blue-1, #fff, 30%);
$light-blue-2:        mix($blue-1, #fff, 20%);
$light-blue-3:        mix($blue-1, #fff, 10%);
$semi-white-blue:     mix($blue-1, #fff, 5%);

// r
$red-1:               #F55656;
$dark-red-1:          spin(mix($red-1, #000, 70%),-12);
$dark-red-2:          spin(mix($red-1, #000, 80%),-8);
$dark-red-3:          spin(mix($red-1, #000, 90%),-4);

$red-2:               mix($red-1, #fff, 75%);
$red-3:               mix($red-1, #fff, 50%);
$light-red-1:         mix($red-1, #fff, 30%);
$light-red-2:         mix($red-1, #fff, 20%);
$light-red-3:         mix($red-1, #fff, 10%);
$semi-white-red:      mix($red-1, #fff, 5%);

// y
$yellow-1:            #ffbc0b;
$dark-yellow-1:       spin(mix($yellow-1, #000, 70%),-12);
$dark-yellow-2:       spin(mix($yellow-1, #000, 80%),-8);
$dark-yellow-3:       spin(mix($yellow-1, #000, 90%),-4);

$yellow-2:            mix($yellow-1, #fff, 75%);
$yellow-3:            mix($yellow-1, #fff, 50%);
$light-yellow-1:      mix($yellow-1, #fff, 30%);
$light-yellow-2:      mix($yellow-1, #fff, 20%);
$light-yellow-3:      mix($yellow-1, #fff, 10%);
$semi-white-yellow:   mix($yellow-1, #fff, 5%);

// g
$green-1:             #36D068;
$dark-green-1:        spin(mix($green-1, #000, 70%),12);
$dark-green-2:        spin(mix($green-1, #000, 80%),8);
$dark-green-3:        spin(mix($green-1, #000, 90%),4);

$green-2:             mix($green-1, #fff, 75%);
$green-3:             mix($green-1, #fff, 50%);
$light-green-1:       mix($green-1, #fff, 30%);
$light-green-2:       mix($green-1, #fff, 20%);
$light-green-3:       mix($green-1, #fff, 10%);
$semi-white-green:    mix($green-1, #fff, 5%);

//typography
$h1:       200 29px/20px 'nutanix_soft', san-serif;
$h2:       400 18px/12px 'nutanix_soft', san-serif;
$h3:       500 14px/10px 'nutanix_soft', san-serif;
$h3-alt:   400 14px/10px 'nutanix_soft', san-serif;
$h4:       400 12px/8px  'nutanix_soft', san-serif;
$p:        400 14px/22px 'nutanix_soft', san-serif;
$p-alt:    400 14px/10px 'nutanix_soft', san-serif;
$a:        400 14px/10px 'nutanix_soft', san-serif;

//sizes
$extra-small:  7px;
$small:        10px;
$medium:       20px;
$large:        30px;

//animation
$animation: cubic-bezier(0.165, 0.84, 0.44, 1);
